#if($_postBack)
  #if($_postBack.accountId)
    #set($accountIdValue = $_postBack.accountId)
  #end
#end

#define ($_body)
<h2>#message("authenticator.example.authenticate.meta.title.usercredentials")</h2>
<form method="post">

    <label for="accountId" class="$!_errorClass">#message("authenticator.example.authenticate.view.accountid")</label>
    <input type="text" id="accountId" name="accountId" autocomplete="username" class="block full-width mb1 field-light $!_errorClass" autocapitalize="none" value="$!accountIdValue">

    <label for="password">#message("authenticator.example.authenticate.view.password")</label>
    <input type="password" name="password" autocomplete="current-password" class="block full-width mb1 field-light">

    <button type="submit" class="button button-fullwidth button-primary">#message("authenticator.example.authenticate.view.next")</button>

    #parse("fragments/jquery")
    <script type="text/javascript" $!nonceAttr>
        jQuery(document).ready(function() {
            // Custom client-side logic could go here
        })
    </script>
</form>
#end

#parse("layouts/default")