#set ($page_symbol = $page_symbol_done)

#define ($_body)
<h2>#message("authenticator.example.authenticate.meta.title.success")</h2>
<form method="post">
    <button type="submit" class="button button-fullwidth button-primary">#message("authenticator.example.authenticate.view.continue")</button>
</form>
#end

#parse("layouts/default")